# This will get appended to /etc/crontab
# NOTE: USER is just a placeholder for a (preferably) low-privileged user.
0 0,12 * * * %USER /opt/certbot/bin/python -c 'import random; import time; time.sleep(random.random() * 3600)' && /opt/certbot/bin/certbot renew -q